// COLOR PALETTE
$clr1: #0c2233;
$clr2: #0a91ab;
$clr3: #065471;
$clr4: #ffc045;
$clr5: #eeeeee;
$clr6: #303841; 
$pGreen: #61bd4f;

// LAYOUT BREAKPOINTS
$break-mobile: 768px;

// FONT
$font-regular: OpenSans-Regular, sans-serif;
$font-light: OpenSans-Light, sans-serif;
$font-semi: OpenSans-semiBold, sans-serif;
$font-bold: OpenSans-Bold, sans-serif;

// LOGO
$font-logo: ShadowsIntoLightTwo-Bold, sans-serif;
